<h2>New Ticket</h2>

{{#form "new_ticket"}}

  {{form_radio_set "kind"}}

  {{form_label "title"}}
  {{form_text "title"}}

  {{form_label "description" "Description"}}
  {{form_textarea "description"}}

  {{form_submit_with_spinner "new_ticket" "Save Ticket"}}

{{/form}}