{{#form "new_ticket"}}

  <div class="inputs_kinds">
    <h3>NEW TICKET</h3>
    {{form_radio_set "kind"}}
  </div>

  <div class="inputs_info">
    {{form_label "title"}}
    {{form_text "title"}}
    {{form_label "description" "Description"}}
    {{form_textarea "description"}}
  </div>

  <div class="actions">
    {{form_submit_with_spinner "new_ticket" "Save Ticket"}}
    &nbsp; &nbsp; <a href="#" class="close">Nevermind</a>
  </div>

{{/form}}