<div class="back_icon">
  &#x21B5;
</div>
<div class="ticket_notice">&nbsp;</div>

<div class="the_ticket">

  <div class="info">
    <div class="status">Status: {{attr "status"}}</div>
    <div class="owner">Owner: <span class="owner_full_name">
      {{#if owner}} {{owner.full_name}} {{else}} Unassigned {{/if}}
    </span></div>
  </div>

  <div class="title">
    <div class="kind">{{attr "severity"}} {{attr "kind"}}</div>
    <h2><span class="title_val">{{attr "title"}}</span></h2>
  </div>

  <div class="description">{{attr "description"}}</div>

  <div class="comments_block">
    <!-- Comments List -->
  </div>

  <p>&nbsp;</p>

  <div class="actions">
    <button class="edit">Edit</button>
    <button class="complete">Complete</button>
    <button class="reopen">Reopen</button>
    <button class="destroy">Delete</button>
  </div>

</div>