<div class="title">
  <h2><span class="title_val">{{attr "title"}}</span></h2>
</div>
<div class="kind">Kind: <span class="kind_val">{{attr "kind"}}</span></div>
<div class="severity">Severity: <span class="severity_val">{{attr "severity"}}</span></div>
<div class="status">Status: <span class="status_val">{{attr "status"}}</span></div>
<div class="owner">Owner: <span class="owner_full_name">
  {{#if owner}} {{owner.full_name}} {{else}} Unassigned {{/if}}
</span></div>

<p>&nbsp;</p>

<h3>Comments</h3>

<div class="comments_block">
  <!-- Comments List -->
</div>

<p>&nbsp;</p>

<div class="actions">
  <button class="edit">EDIT</button>
  <button class="complete">COMPLETE</button>
  <button class="reopen">REOPEN</button>
  <button class="destroy">DELETE</button>
</div>