<div class="title">
  <a href="#" class="show"><span class="title">{{title}}</span></a>
</div>
<div class="kind">{{kind}}</div>
<div class="severity">{{severity}}</div>
<div class="status">{{status}}</div>

<div class="comments_count">{{comments.length}} comments</div>

<div class="comments_block">
  <!-- Comments List -->
</div>

<div class="actions">
  <button class="edit">EDIT</button>
  <button class="complete">COMPLETE</button>
  <button class="reopen">REOPEN</button>
  <button class="destroy">X</button>
</div>