<div class="column kind">{{attr "severity"}} {{attr "kind"}}</div>
<div class="column title">
  <a href="#" class="show"><span class="title_val">{{attr "title"}}</span></a>
</div>
<div class="column actions">
  <button class="edit">Edit</button>
  <button class="complete">Complete</button>
  <button class="reopen">Reopen</button>
  <button class="destroy">X</button>
</div>
<div class="column status"><span class="status_val">{{attr "status"}}</span></div>
<div class="column owner">{{#if owner}}{{owner.full_name}}{{else}}Unassigned{{/if}}</div>
